body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #121212, #000000);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}