body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #121212, #000000);
  color: white;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /* separación entre tarjetas */
  margin-top: 50px;
  flex-wrap: wrap; /* por si la pantalla es pequeña */
}